<%# locals: (owner:, free_access:) -%>

<% min_date = Time.current %>
<%= form_with(model: [owner, free_access], class: 'form') do |f| %>
  <%= render 'utils/error_messages', object: f.object %>
  <div>
    <%= f.label :start_at %>
    <%= f.date_field :start_at, required: true, value: free_access.start_at, min: min_date %>
  </div>
  <div>
    <%= f.label :end_at %>
    <%= f.date_field :end_at, required: true, min: min_date %>
  </div>
  <div>
    <%= f.label :reason %>
    <%= f.text_field :reason, required: true, size: 30, maxlength: 255, placeholder: 'Leaves in 3 days' %>
  </div>
  <div>
    <%= f.submit yield(:button_text) %>
  </div>

<% end %>
