<% provide :button_text, "Create" %>

<h1>Add a new article</h1>

<%= form_with(model: @article, class: 'form') do |f| %>
  <%= render 'utils/error_messages', object: f.object %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div>
    <%= f.submit yield(:button_text) %>
  </div>
<% end %>