<%# locals: () %>

<h1>Admin dashboard</h1>

<% if can?(:read, Article) %>
  <h2>Articles</h2>
  <% if can?(:create, Article) %>
      <%= link_to new_article_path, class:'button-primary' do%>
        <%= 'Create Article'%>
        <%= svg_icon_tag 'icon_plus'%>
      <%end%>
    <% end %>
  <%= render(@articles) || "No articles" %>
<% end %>

<% if can?(:read, SubscriptionOffer) %>
  <h2>Subscription offers</h2>
  <% if can?(:create, SubscriptionOffer) %>
    <%= link_to new_subscription_offer_path, class: 'button-primary' do %>
      <%= 'Create Subscription Offer' %>
      <%= svg_icon_tag 'icon_plus' %>
    <% end %>
  <% end %>
  <%= render(@subscription_offers) || "No subscription offers" %>
<% end %>

<% if can?(:read, PaymentMethod) %>
  <h2>Payment Methods</h2>
  <% if can?(:create, PaymentMethod) %>
    <%= link_to new_payment_method_path, class: 'button-primary' do %>
      <%= 'Create Payment Method' %>
      <%= svg_icon_tag 'icon_plus' %>
    <% end %>
  <% end %>
  <%= render(@payment_methods) || "No payment methods" %>
<% end %>
