<%# locals: (user:) -%>

<%= form_with(model: user, class: 'form') do |f| %>
  <%= render 'utils/error_messages', object: f.object %>
  <div>
    <%= f.label :firstname %>
    <%= f.text_field :firstname, required: true %>
  </div>
  <div>
    <%= f.label :lastname %>
    <%= f.text_field :lastname, required: true %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username, required: true %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>
  <div>
    <%= f.label :room %>
    <%= f.text_field :room_number, list: 'rooms-datalist', autocomplete: 'off',
                            placeholder: 'ex : A105A', value: f.object.room&.number %>
    <datalist id="rooms-datalist">
      <% Room.available_for(f.object).order(:number).each do |room| %>
        <option value="<%= room.number %>"></option>
      <% end %>
    </datalist>
  </div>
  <div>
    <%= f.submit yield(:button_text) %>
  </div>
<% end %>
