<%# locals: (user:) -%>

<%= form_with(model: user, class: 'form') do |f| %>
  <%= render 'utils/error_messages', object: f.object %>
  <div>
    <%= f.label :firstname %>
    <%= f.text_field :firstname, required: true %>
  </div>
  <div>
    <%= f.label :lastname %>
    <%= f.text_field :lastname, required: true %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username, required: true %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>
  <div>
    <%= f.label :room %>
    <%= f.collection_select :room_number, @rooms, :number, :number, { include_blank: 'No room' } %>
  </div>
  <div>
    <%= f.submit yield(:button_text) %>
  </div>
<% end %>
