<li>
  <%= user.email %>,
  <%= user.room %>
  <%= link_to "show", user %>
  <%= link_to "edit", edit_user_path(user) %>
  <%= button_to "delete", user, method: :delete,  data: {turbo_confirm: "Are you sure ?"} %>
</li>
