<%# locals: () -%>

<main>

  <h1 class="title">
    <% if current_user == @user %>
      My Profile
    <% else %>
      Profile of <%= "#{@user.firstname} #{@user.lastname}" %>
    <% end %>
  </h1>

  <div class="container">
    <% if can?(:create, Sale) %>
      <%= render "components/buttons/button_primary_create", text: "Sell", path: new_user_sale_path(@user), aria_label: "Create a sell" %>
    <% end %>
    <div class="card-details-container card-user card-details-user ">
      <div class="card card-details">
        <div class="card-title">
          <%= svg_icon_tag 'profile' %>
          <h2>Personal Data</h2>
        </div>
        <%= render "components/buttons/button_primary_edit", text: "edit", path: edit_user_path(@user), aria_label: "Edit your profile" %>
      </div>

      <div class="divider"></div>
    </div>
    <div class="card card-user card-content">
      <div class="card-content-user">
        <span><%= "#{@user.firstname} #{@user.lastname}" %></span>
        <%= render "components/internet_badge", user: @user %>
        <span><%= @user.email %></span>
        <% if @user.internet_expiration %>
          <span>Internet on until <%= time_with_relative_tag @user.internet_expiration %></span>
        <% else %>
          <span>No Internet</span>
        <% end %>
        <span><%= @user.room %></span>
        <span><%= pluralize(@machines.size, "machine") %></span>
        <% if current_user == @user %>
          <div class="card-content-user-details" data-controller="user">
            <label>Wifi Password:</label>
            <input type="password" data-user-target="wifiPassword" value="<%= @user.wifi_password %>" spellcheck="false" disabled>
            <button data-action="click->user#togglePasswordVisibility">
              <%= svg_icon_tag 'icon_eye', 'aria-label': "Hide Wifi Password", 'data-user-target':'eyeIcon', style: 'display: none' %>
              <%= svg_icon_tag 'icon_eye_slash', 'aria-label': "Show Wifi Password", 'data-user-target':'eyeIcon', style: 'display: inline' %>
            </button>
            <div>
            <button data-action="click->user#copyToClipboard">
              <%= svg_icon_tag 'icon_clipboard', 'aria-label': "Copy Wifi Password" %>
            </button>
              <span class="copy-message" data-user-target="copyMessage">Copied !</span>
            </div>
          </div>
        <% end %>
        <span>Pseudo : <%= @user.pseudo %>
      </div>
    </div>

    <div class="card-details-container card-machines card-details-machines">
      <div class="card card-details">

        <div class="card-title">
          <% svg_icon_tag 'profile' %>
          <h2>Machines</h2>
        </div>

        <%# Need to pass an instance for an ability with block https://github.com/CanCanCommunity/cancancan/blob/develop/docs/define_abilities_with_blocks.md %>
        <% if can?(:create, @user.machines.new) %>
          <%= render "components/buttons/button_primary_create", text: "new machine", path: new_user_machine_path(@user), aria_label: "Add a new machine" %>
        <% end %>

      </div>

      <div class="divider"></div>
    </div>
    <div class="card card-machines card-content">

      <div class="card-content-machines">
        <%= render(@machines) || "No machines" %>
      </div>

    </div>

    <div class="card-details-container card-subscriptions card-details-subscriptions">
      <div class="card card-details">

        <div class="card-title">
          <% svg_icon_tag 'profile' %>
          <h2>Subscriptions</h2>
        </div>
      </div>

      <div class="divider"></div>
    </div>
    <div class="card card-subscriptions card-content">

      <div class="card-content-subscriptions">
        <%= render(@subscriptions) || "No subscriptions" %>
      </div>

    </div>

    <div class="card-details-container card-free-accesses card-details-free-accesses">
      <div class="card card-details">

        <div class="card-title">
          <% svg_icon_tag 'profile' %>
          <h2>Free accesses</h2>
        </div>

        <% if can?(:create, FreeAccess) %>
          <%= render "components/buttons/button_primary_create", text: "new free access", path: new_user_free_access_path(@user), aria_label: "Add a new free access" %>
        <% end %>
      </div>

      <div class="divider"></div>
    </div>
    <div class="card card-free-accesses card-content">

      <div class="card-content-free-accesses">
        <%= render(@free_accesses) || "No free accesses" %>
      </div>

    </div>
  </div>
</main>
