<p>
  <%= subscription.id %>,
  <%= pluralize(subscription.duration, 'month') %>,
  <%= subscription.price %> €,
  <%= subscription.updated_at %>,
  <%= subscription.cancelled ? "cancelled" : nil %>
</p>
