<%# locals: (machine:) -%>

<div class="machine">
  <span><%= machine.name %></span>
  <span><%= machine.mac.upcase %></span>
  <span><%= machine.ip.ip %></span>
  <% if can?(:edit, machine) %>
    <%= render(IconButtonComponent.new(path: edit_machine_path(machine), action: :edit, aria_label: 'Edit this machine')) %>
  <% end %>
  <% if can?(:destroy, machine) %>
    <%= render(IconButtonComponent.new(path: machine, action: :delete, method: :delete, data: { turbo_confirm: "Are you sure ?" }, aria_label: 'Delete this machine')) %>
  <% end %>
</div>
