<%# locals: (sale:) -%>

<div>

    <%sale.articles_sales.each do |article_sale| %>
        <b><%= article_sale.article.name %></b>
        <p>Price : <%= article_sale.article.price * article_sale.quantity %> | Quantity : <%= article_sale.quantity %></p>
    <%end %>
            
    <%if sale.subscription%>
        <b>Internet subscription</b>
        <p>Begin: <%= sale.subscription.start_at %></p>
        <p>End: <%= sale.subscription.end_at %></p>
    <%end%>

    <p>Payment method: <%= sale.payment_method.name %></p>
    <%= link_to(sale.invoice.pdf, class: 'button-primary', download: true) do %>
        <%= svg_icon_tag 'icon_pdf' %>
        Download invoice
    <% end %>


</div>
