<%# locals: (sale:) -%>

<div>
    <%sale.articles_sales.each do |article_sale| %>
        <p>---------- <%=article_sale.article.name%> ----------</p>
        <p>Price : <%=article_sale.article.price * article_sale.quantity%></p>
        <p>Quantity : <%=article_sale.quantity%></p>
    <%end %>
            
    <%if sale.subscription%>
        <p>---------- Internet subscription ----------</p>
        <p>Begin: <%=sale.subscription.start_at%></p>
        <p>End: <%=sale.subscription.end_at%></p>
    <%end%>
    
    <p>--------</p>

    <p>Payment method: <%=sale.payment_method.name%></p>
    <%= link_to "Show invoice", sale.invoice.pdf%>

</div>
