<%# locals: () -%>

<header>
  <nav>
    <ul>
      <li>
        <%= link_to "Lea5", root_path, class: "logo" %>
      </li>
      <% if logged_in? %>
        <li>
          <%= link_to "Users", users_path %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div>
    <%= render "search/search-bar" %>
  </div>

  <div>
    <% if not logged_in? %>
      <%= render(ButtonComponent.new(
        label: "Login",
        path: AUTH_PATH,
        method: :post
      )) %>
    <% else %>
      <%= render(ButtonComponent.new(
        label: "Logout",
        path: logout_path,
        method: :delete,
        button_type: :secondary
      )) %>
    <% end %>
  </div>
</header>
