<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lea5</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<%= render 'layouts/header' %>

<% flash.each do |message_type, message| %>
  <%= tag.div class: "alert alert-#{message_type}" do %>
    <% if message_type == 'success' %>
      <%= svg_icon_tag 'check' %>
    <% else %>
      <%= svg_icon_tag 'cross' %>
    <% end %>
    <%= message %>
  <% end %>
<% end %>

<%= yield %>
</body>
</html>
