<!DOCTYPE html>
<html>
<head>
  <title>Lea5</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<% if not logged_in? %>
  <%= form_tag(AUTH_PATH, method: :post, data: { turbo: false }) do %>
    <button type='submit' aria-label="Login">Login</button>
  <% end %>
<% else %>
  <%= form_tag(logout_path, method: :delete, data: { turbo: false }) do %>
    <button type='submit' aria-label="Logout">Logout</button>
  <% end %>
<% end %>
<%= yield %>
</body>
</html>
